* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  background-color: bisque;
}


img {
  color: blue;
  border-radius: 50% 50%;
  width: 25%;
}
main {
  display: flex;
  justify-content: center;
}
#information{
  width: 50%;
  text-align:center;
}

#name{
  margin-top: 1rem;
}
/* button {
  background-color: rgba(240, 248, 255, 0);
  border-color: rgba(0, 255, 255, 0);
} */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
header {
  text-align: center;
}
section {
  text-align: center;
}
.Random{
  background-color: brown;
  color: white;
  border-radius: 5px;
  padding: 0 .5rem;
}
